@import "./base.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height:auto; margin:0;
  display: flex;
  flex-direction:column; 
  background: #ececec;
  font-family: "Montserrat", sans-serif;
}

#app{
  height:100vh; margin:0;
  display: flex;
  flex-direction:column; 
  background: #ececec;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 380px) and (max-height: 670px) {

  body {
    width: auto;
    height:100vh; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }
  #app{
    height:100vh; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }

}
@media only screen and (max-width: 480px) and (min-width: 381px){

  body {
    width: auto;
    height:100vh; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }
  #app{
    height:100vh; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }

}
@media (min-width: 481px) and (max-width: 767px){
	#app{
    height:auto; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }
}

@media (min-width: 768px) and (max-width: 992px){
	#app{
    height:auto; margin:0;
    display: flex;
    flex-direction:column; 
    background: #ececec;
    font-family: "Montserrat", sans-serif;
  }
}
